/* CSS NORMALIZATION */
* {
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}

body {
	width: 100%;
	
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	
	cursor: pointer;
}

a:visited {
	color: inherit;
}

button {
	cursor: pointer;
}
/* /css normalization */

/* BODY */
body {
	background: linear-gradient(80deg, #4158D0 5%, #C850C0 32%, #f68a30 60%, #FFCC70 95%);
}
/* /body */

/* HEADER */
header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	
	width: 100%;
	height: 100vh;
	min-height: 600px;
	
	margin: 0;
	padding: 0;
	
	background: none;
	
	border: none;
}

header > span {
	display: block;
	
	width: auto;
	height: auto;
	
	margin: 0 auto;
	padding: 0;
	
	background: none;
	
	border: none;
}

h1 {
	margin: 0 150px 0 auto;
	padding: 0;
	
	font: normal 700 16rem/1 Rubik, sans-serif;
	letter-spacing: 0.03em;
	text-align: left;
	color: #fff;
}

#subtitle {
	margin: 0 auto 0 150px;
	padding: 0;
	
	font: normal 700 7.2rem/1.5 Cormorant, sans-serif;
	letter-spacing: 0.06em;
	text-align: right;
	color: #000;
}
/* /header */

/* MAIN */
main {
	width: 100%;
	height: auto;
	
	margin: 0;
	padding: 0;
	
	background: none;
	
	border: none;
}

#intro-text {
	display: block;
	
	width: 800px;
	height: auto;
	
	margin: 30px auto 100px;
	padding: 0;
	
	background: none;
	
	border: none;
	
	font: normal normal 3rem/1.6 Poppins, sans-serif;
	text-align: justify;
	letter-spacing: -0.01em;
	text-indent: 57px;
	color: #000;
}

#project-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	
	width: 1200px;
	height: auto;
	
	margin: 0 auto;
	padding: 0;
	
	background: none;
	
	border: none;
}

.gallery-blocks {
	display: inline-block;
	
	width: 560px;
	height: auto;
	
	margin: 0 0 60px;
	padding: 0;
	
	background: none;
	
	border: none;
}

#project-gallery img {
	width: 560px;
	height: auto;
}

.project-description {
	display: block;
	
	width: 280px;
	height: auto;
	
	margin: 18px auto 0;
	padding: 0;
	
	font: normal normal 1.8rem/1.5 Poppins, sans-serif;
	text-align: center;
	letter-spacing: -0.01em;
	color: #111;
}
/* /main */

/* FOOTER */
footer {
	width: 100%;
	height: auto;
	
	margin: 20px 0 0;
	padding: 0 0 40px;
	
	background: #f68a30;
	
	border: none;
}

#legal-agreement {
	display: block;
	
	width: 1200px;
	height: auto;
	
	margin: 0 auto 40px;
	padding: 30px 0 0;
	
	background: none;
	
	border: none;
	
	font: normal normal 1.8rem/1.5 Poppins, sans-serif;
	text-align: right;
	letter-spacing: -0.01em;
	color: #111;
}

#footer-grid {
	display: grid;
	grid-template: 100% / 3fr 4fr;
	column-gap: 40px;

	width: 100%;
	height: auto;
	
	margin: 0 auto;
	padding: 0 6% 0;
	
	background: none;
	
	border: none;
	
	font: normal normal 1.6rem/1.5 Poppins, sans-serif;
	text-align: left;
	letter-spacing: -0.01em;
	color: #111;
}

#contacts {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-content: flex-start;
	
	width: 100%;
	height: auto;
	
	margin: 0;
	padding: 0;
	
	background: none;
	
	border: none;
}

#contacts p {
	display: inline;
	
	margin: 0 18px 0 0;
}

#contacts img {
	display: block;
	
	width: 18px;
	height: auto;
	
	margin: 2px 0 0;
	padding: 0;
}

#contacts a {
	display: block;
	
	width: 18px;
	height: 18px;
}
/* /footer */

/***************************************************************************************************
****************************************************************************************************
**********@MEDIA************************************************************************************
****************************************************************************************************
***************************************************************************************************/
	
@media (min-width: 2560px) {
	
	/* HEADER */
	h1 {
		font-size: 18.4rem
	}
	
	#subtitle {
		font-size: 9.6rem;
	}
	/* /header */
	
	/* MAIN */
	#intro-text {
		width: 1000px;
		margin: 30px auto 100px;
		font-size: 4rem;
	}
	
	#project-gallery {
		width: 1500px;
	}
	
	.gallery-blocks {
		width: 680px;
		margin: 0 0 80px;
	}
	
	#project-gallery img {
		width: 680px;
		height: auto;
	}
	
	.project-description {
		width: 360px;
		margin: 25px auto 0;
		font-size: 2.5rem;
	}
	/* /main */
	
	/* FOOTER */
	footer {
		margin: 20px 0 0;
		padding: 0 0 80px;
	}
	
	#legal-agreement {
		width: 1200px;
		margin: 0 auto 40px;
		padding: 30px 0 0;
		font-size: 2.5rem;
	}
	
	#footer-grid {
		font-size: 2rem;
	}
	/* /footer */
	
}

@media (max-width: 1280px) {
	
	/* HEADER */
	h1 {
		margin: 0;
		font-size: 9.6rem;
	}
	
	#subtitle {
		margin: 0;
		font-size: 4.8rem;
		letter-spacing: 0.03em;
	}
	/* /header */
	
	/* MAIN */
	#intro-text {
		width: 540px;
		margin: 30px auto 80px;
		font-size: 2.4rem;
	}
	
	#project-gallery {
		flex-flow: column nowrap;
		width: 500px;
	}
	
	.gallery-blocks {
		width: 500px;
		margin: 0 0 80px;
	}
	
	#project-gallery img {
		width: 500px;
		height: auto;
	}
	/* /main */
	
	/* FOOTER */
	#legal-agreement {
		width: 540px;
	}
	
	#footer-grid {
		column-gap: 32px;
		font-size: 1.5rem;
	}
	/* /footer */
}

@media (max-width: 600px) and (min-width: 320px) {
	
	/* HEADER */
	header {
		min-height: 320px;
	}
	
	h1 {
		font-size: 6rem;
	}
	
	#subtitle {
		font-size: 3.6rem;
	}
	/* /header */
	
	/* MAIN	*/
	#intro-text {
		width: 280px;
		margin: 20px auto 60px;
		font-size: 2rem;
	}
	
	#project-gallery {
		width: 320px;
	}
	
	.gallery-blocks {
		width: 300px;
		margin: 0 0 60px;
	}
	
	#project-gallery img {
		width: 300px;
		height: auto;
    }
	/* /main */
	
	/* FOOTER */
	#legal-agreement {
        width: 280px;
    }
	
	#footer-grid {
        column-gap: 28px;
		font: normal normal 1.4rem / 1.5 Poppins, sans-serif;
    }
	
	#contacts {
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	
	#contacts p {
		display: inline;
		margin: 0 14px 14px 0;
	}
	/* /footer */
	
}